<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
  <appSettings>
    <add key="FLICKER_AP_IKEY" value="5c61308d02a7d3dea34fe045301ffa65"/>

    <add key="TWITTER_CONSUMER_KEY" value="kzKbR5JYnYmeCturEtH7WTM3y"/>
    <add key="TWITTER_CONSUMER_SECRET" value="xx2V1tUP1e7OMZ2gbENeeDl5iQq2xWcpBdfsq5h3SO2Tbgl94r"/>
    <add key="TWITTER_ACCESS_TOKEN" value="736977096002539520-QFlVvUoqACZlbpUVOjZ6SEa8KFP5Q3o"/>
    <add key="TWITTER_ACCESS_TOKEN_SECRET" value="FeoSTQEt4lB6bfkbS9V6jt2svwDZhEs7wJQyhol2QklpF"/>


  </appSettings>
  
</configuration>